# App Locale
PROJECT_LOCALE=EN

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=metargb_db

# gRPC Server Configuration
GRPC_PORT=50062

# Parsian Payment Gateway Configuration
PARSIAN_MERCHANT_ID=B82w84886IWnou50nYuJ
PARSIAN_PIN=92745243
PARSIAN_LOAN_ACCOUNT_MERCHANT_ID=B82w84886IWnou50nYuJ
PARSIAN_LOAN_ACCOUNT_PIN=92745236
PARSIAN_CALLBACK_URL=${FRONTEND_URL}/api/parsian/callback

# Frontend URL for redirects
FRONTEND_URL=https://rgb.irpsc.com
